extends layout

block content
    h1 #{message}

block game-area
    .rectangle
        .square
            p Game area
        .right
            h3 {{game.target}}
            ol
                li(ng-repeat="player in players|{{score}}").
                    {{player.name}} {{player.score}}

block right-pane
    .right
        //Dynamic global leader board. Game score in game area.
        h2 Leader Board
        ol
            li(ng-repeat="user in users|{{apoints}}").
                {{user.name}} {{user.apoints}}
