doctype html(ng-app='app')
div(ng-controller="next-update-stats-controller")

block head
    meta(charset="utf-8")
    title= title

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel="stylesheet", href="http://getdarkstrap.com/darkstrap-blue/darkstrap-blue.css")
    link(rel='stylesheet', href="/stylesheets/style.css")

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')


block nav
    include header.jade
block content
block game-area
block right-pane

