body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*
a {
  color: #00B7FF;
}
*/
.wrapper{
    width: 100%;
}
.right{
    float:right;
}
.left{
    float: left;
}

.center{
    margin-top: 40vh;
    margin-left: 70vh;
}
.rectangle {
    float: left;
    height: 80vh;
    width: 110vh;
    background-color: #000;
    outline-color: #b5aebb;
    outline-style: outset;
    outline-width: 2px;
}
.square {
    float: left;
    height: 80vh;
    width: 80vh;
    outline-color: #b5aebb;
    outline-style: outset;
    outline-width: 2px;
    background-color: #000;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}


/*Override darkstrap-blue to darkstrap-nl*/
h1, h2 {
    color: #a955ed !important;
}
nav, .navbar, nav.navbar-inverse, a.navbar-brand, .navbar-nav, a, a:hover{
    color: #a955ed !important;
    position: fixed !important;
}
input[type="text"], input[type="password"]{
    border-color: #222222 !important;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="date"]:focus, input[type="month"]:focus,
input[type="time"]:focus, input[type="week"]:focus,
input[type="number"]:focus, input[type="email"]:focus,
input[type="url"]:focus, input[type="search"]:focus,
input[type="tel"]:focus, input[type="color"]:focus,
.uneditable-input:focus, .input-group-addon {
    border-color: #a955ed !important;
}
.btn,
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:visited
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus,
.btn-primary:active, .btn-primary.active, .btn-primary:visited,
.btn-primary:active:hover, .btn-primary.active:hover{
    background-color: #a955ed !important;
}
body{
    color: #d7b8f7;
}